.content {
    border-radius: 12px;
    background: #fff;
    position: relative;
    margin: 16px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 3px #00000014;
}

// Share-layout Container
.shared-layout-container {
    background: #F5F5F4;
    height: calc(100vh - 60px);
    position: relative;
    overflow: auto;
}

// Page Wrapper
.page-wrapper {
    background: #F5F5F4;
    width: 100%;
    overflow-x: hidden;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: row;
    padding: 15px;
    position: relative;
}

//Footer Page
.page-footer {
    padding: 16px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -2px 4px #0000001f;

    //
    left: 198px;
    border-left: 1px solid #D6D3D1;

}

.page-footer-action {}

// filter content
.content-filter {
    z-index: 30;
    position: relative;
    padding: 16px;
}

.shared-layout-content {
    position: relative;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-header {
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
    z-index: 30;
    position: relative;
}

.content-header .content-header-left,
.content-header .content-header-right {
    display: flex;
    align-items: center;
}

.content-header-right {
    .ant-form {
        display: flex;
        align-items: center;
    }
}

// Loading
.shared-loading-overlay.visible,
.shared-not-found-content.visible {
    opacity: 1;
    z-index: 31;
}

.shared-loading-overlay {
    z-index: 0;
    border-radius: 16px;
}

.shared-loading-overlay,
.shared-not-found-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    opacity: 0;
    border-bottom-left-radius: 16px;
}

.not-found {
    height: calc(100vh - 350px);
}

.not-found-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ant-progress-outer {
    margin-left: 14% !important;
}

// My Card
.my-card {
    border-radius: 10px;
    background-color: #fff;
    color: #38060f;
    border: 1px solid #D6D3D1;
    max-width: 100%;
    margin-bottom: 16px;
}

.my-card-header {
    border-bottom: 1px solid #d6d3d1;
    color: var(--Colour-Primary-900, #38060F);
    display: flex;
    padding: 16px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.my-card-header p {
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
}

.my-card-body {
    padding: 16px;
}

.guest-info-container,
.stay-info-container {
    min-height: 240px;
}

// Card Content
.my-card-content {
    background: #F5F5F4;
    border-radius: 8px;
    padding: 12px 12px 12px 16px;
    display: flex;
    flex-direction: column;
}

.my-card-content-header {
    margin: 0 !important;
    color: #57534e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}