.my-button {
  white-space: nowrap;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 2;
  font-family: 'Inter', sans-serif;
  border-radius: 8px !important;
  gap: 8px;
}


.my-button.ant-btn {
  height: 36px;
}

.primary-button {
  background-color: #ed4e6b;
  color: #fff !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-bottom-width: 2px !important;
  border-color: #ab112e;
  color: #fff !important;

  &:hover {
    background-color: #f07087 !important;
    border-color: #e65747;
    background: #ffffff;
  }
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  border-color: #e65747;
  background: #ffffff;
}

.secondary-button {
  background-color: #57534e !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-bottom-width: 2px !important;
  border-color: #292524 !important;
  color: #fff !important;

  &:hover {
    background-color: #a8a29e !important;
  }
}

.outline-button {
  background-color: #fff !important;
  border: 1px solid #d6d3d1 !important;
  color: #292524 !important;
  box-shadow: 0 1px 1px #e7e5e4;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  padding: 8px 16px;

  .plus-icon path {
    stroke: #292524 !important;
  }

  &:hover {
    border-color: #ed4e6b !important;
    background-color: #fdecf0 !important;

    &:not(.avatar-custom) {
      color: #ed4e6b !important;
    }


    .reload-icon path,
    .down-icon path,
    .cancel-icon path,
    .plus-icon path {
      stroke: #ed4e6b !important;
    }

    .export-icon path,
    .filter-icon path {
      fill: #ed4e6b !important;
    }
  }


}

.detail-btn,
.detail-btn:hover {
  background-color: #fff !important;
  border-color: #d6d3d1 !important;
  height: 26px !important;
  width: 70px !important;
  color: var(--Colour-Green-700, #15803D) !important;
  // font-family: Inter !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 20px !important;
}

.avatar {
  width: 30px;
  height: 30px;
}

.ant-btn.group-btn {
  margin-left: 0 !important;
}

.ant-btn {
  font-size: 12px;
}

.ant-btn.group-btn {
  margin-left: 0 !important;
}

.ant-btn+.ant-btn {
  margin-left: 10px !important;
}

.ant-btn.group-btn {
  margin-left: 0 !important;
}


// Dropdown



.user-dropdown-menu {
  .ant-dropdown-menu-item {
    padding: 8px;
  }

  .settings-item,
  .logout-item {
    padding: 12px 16px;
    height: auto;
    line-height: normal;
  }


}

// Remove animation effects


.ant-dropdown-menu-item-active {
  background-color: transparent !important;
}

// khi label
:where(.css-dev-only-do-not-override-nqoqt9).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-nqoqt9).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: unset;

}




// SelectDropdown

.ant-dropdown-menu-item:first-child {
  margin-bottom: -10% !important;
}

.menu-container {
  margin-top: 45%;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  margin: 4px 0;

  &:hover {
    background-color: #fdecf0;
    color: #d92d20 !important;
  }


}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox-checked:hover .ant-checkbox-inner {
  border-color: #ed4e6b !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ed4e6b !important;
  border-color: #ed4e6b !important;
}



.ant-checkbox-inner {
  transition: all 0.3s ease-in-out;
}

.ant-dropdown-menu {
  width: 298px;
  height: 395px;
  overflow-y: hidden;
}

.ant-dropdown-menu-item {
  overflow-y: auto;
  max-height: 290px;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-dev-only-do-not-override-nqoqt9 {
  height: auto;
}