/* Cấu hình chiều rộng và margin chung */
.ant-menu-item,
.ant-menu-submenu-title {
    width: 175px;
    margin: 0 16px 16px !important;
    white-space: normal !important;
    height: 40px !important;
    line-height: normal !important;
    padding: 16px !important;
}

/* Tùy chỉnh cho nội dung tiêu đề menu */
.ant-menu-title-content {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

/* Cấu hình margin và padding cho nhóm menu */
.ant-menu-item-group-title {
    margin: 16px 16px 0;
    padding: 8px 16px;
    color: var(--Colour-Greyscale-400, #a8a29e) !important;
    font-family: Inter, sans-serif;
    font-size: 11px !important;
    font-weight: 400;
    line-height: 14px;
    height: 32px !important;
}



/* Khoảng cách cho các item đầu tiên */
li.ant-menu-item:first-of-type {
    margin-top: 16px !important;
}

/* Áp dụng margin-top cho các item không phải item đầu tiên */
li.ant-menu-item:not(:first-of-type) {
    margin-top: 16px !important;
}

/* Áp dụng margin-top khi sidebar collapsed */
li.ant-menu-item:not(:first-of-type) {
    margin-top: 16px !important;
}



/* Đổi màu nền và chữ khi được chọn */
.ant-menu-item-selected {
    background-color: #fdecf0 !important;
    color: #e3173c !important;
}

/* Màu chữ và biểu tượng khi được chọn */
.ant-menu-item-selected span,
.ant-menu-item-selected svg,
.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
    color: #e3173c !important;
}

/* Ẩn tiêu đề nhóm khi sidebar đóng */
.collapsed .ant-menu-item-group-title {
    display: none !important;
}



// Điều chỉnh lại khi collapsed
ul.ant-menu-inline-collapsed li,
ul.ant-menu-inline-collapsed .ant-menu-submenu-title,
ul.ant-menu-inline-collapsed ul.ant-menu-item-group-list .ant-menu-item {
    width: 36px !important;
    padding: 10px !important;
    margin: 0 auto !important;
    
}
